/* Header styling */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
    flex-wrap: wrap; /* Ensure items wrap on smaller screens */
    
  }
  
  
  header a.logo {
    font-weight: bold;
    font-size: 2rem;
    color: #fff;
    margin-left: 7vw;
  }
  
  header nav {
    display: flex;
    align-items: center;
    gap: 24px;
    flex-wrap: wrap; /* Allow navigation items to wrap */
    justify-content: center; /* Center the navigation items */
  }
  
  header nav a {
    color: #fff;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }

  

  header nav a:hover {
    background-color: #085b8e;
    color: #333;
  }

  header nav button {
    color: #fff;
    text-decoration: none;
    padding: 6px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  header nav button:hover {
    background-color: #085b8e;
    color: #333;
  }
  
  .d-flex{
    display: flex;
    justify-content: space-around;
  }