    /* Post Card Styling */
    .cards {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      width: 100%;
      margin: auto;
    }
    
    .post-card {
      background: rgba(21, 48, 184, 0.26); /* Semi-transparent blue */
      border-radius: 15px;
      min-width: 80vw;
     
      padding: 20px;
      margin: 20px 0;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
      transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
    .post-card:hover {
      transform: translateY(-5px); /* Lift the card on hover */
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Enhance shadow on hover */
    }
    
    /* Post Header */
    .post-card-header h2 {
      color: #fff; /* Blue header */
      margin-bottom: 10px;
      font-size: 1.2em;
      max-width: 50vw;
      text-align: center;
       text-transform: capitalize;
    }
    
    
    /* Post Image */
    .post-image {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100vw;
      
      height: auto;
      border-radius: 10px;
      margin-bottom: 12px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Image shadow */
    }
    
   
  .post-card-header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #55aaff; /* Lighter blue */
    margin-bottom: 10px;
  }
  .post-card-header h1{
    text-align: center;
    color: #fff;
    font-size: 15px;
  }
  .post-card-header time{
      text-align: center;
      font-size: 1rem;
      color: #fff;
  }
  
  .post-card-header h2{
    text-align: center;
    color: #007bff;
    font-size: 18px;
    margin-left: 20%;
  }
  .post-card-header .author {
    text-align: center;
    margin-bottom: 20px;
    margin-left: 20%;
    font-size: .9rem;
    font-weight: bold;
  }
  .file-link {
    display: block;
    margin-bottom: 12px;
    font-weight: bold;
    color: #cac6f3;
    text-decoration: none;
  }
  
  .file-link:hover {
    text-decoration: underline;
    color: #f5f1d2;
  }
  
   /* Post Content */
   .post-card-body {
    display: flex;
    justify-content: center;
    margin-top: 12px;
    font-size: .7em;
   
  }
  .post-card-body p {
    margin-bottom: 16px;
    color: #333; /* Dark text for readability */
    font-size: 1.7em;
    line-height: 1.6;
    text-align: left;
}